#header {
  background-color: dodgerblue;
  color: white;
  text-align: center;
  align-items: center;
}

#line {
  width: 15%;
  text-align: left;
  margin-left: 0;
}

#day-time {
  display: flexbox;
  align-items: baseline;
  text-align: end;
}
.history {
  background-color: antiquewhite;
}

.list-group-item {
  background-color: lightslategrey;
  text-align: center;
}
